<a href="/">Home</a>
<a href="/about/">about</a>
<a href="/blog/">blog</a>

<br>
<img src="https://i.namu.wiki/i/8jx6yGRqnhcQrdk0A9BzJIOKGsRMrIxTRy0KyAdbCxybn6o1T3QfDJWa2z0tPUf1051QsgiFBRtKdFDOAkb6eg.webp" alt="">

<h1>My Astro Learning Blog</h1>
<p>This is where I will post about my journey learning Astro.</p>

<style>
    img {
        position: relative;
        width: 300px;
    }
</style>