---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob('./posts/*.md');
const pageTitle = "My Astro Learning Blog";
---
<BaseLayout pageTitle={pageTitle}>
    <br><img src="https://i.namu.wiki/i/8jx6yGRqnhcQrdk0A9BzJIOKGsRMrIxTRy0KyAdbCxybn6o1T3QfDJWa2z0tPUf1051QsgiFBRtKdFDOAkb6eg.webp" alt="">
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
        {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
</BaseLayout>